@font-face {
    font-family: 'yangjin';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'yangjin';
}

/* layout */

.button.fixed {
	padding-top: 2px;
}

.contentWrap {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
}

.content__item {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

#contents>div {
    position: relative;
}



#section1 {
    z-index: 1000;
}

#section2 {
    z-index: 2000;
}

#section3 {
    z-index: 3000;
}

#section4 {
    z-index: 4000;
}

#section5 {
    z-index: 5000;
}

#section6 {
    z-index: 6000;
}

#section7 {
    z-index: 7000;
}

#section8 {
    z-index: 8000;
}

#section9 {
    z-index: 9000;
}

#section11 {
    z-index: 11000;
}

#section12 {
    z-index: 12000;
}

#section13 {
    z-index: 13000;
}

#section14 {
    z-index: 14000;
}

#section15 {}

#section16 {}

.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    border: 0;
}

/* contact */
fieldset {
    border-style: none;
}

form {
    stroke: none;
}

.contact .i1 {
    position: relative;
    margin-left: 9vw;
    top: -0.5vw;
}

.contact .i2 {
    position: relative;
    margin-left: 9vw;
    top: -0.5vw;
}

input {
    background: #e9e3f2;
    border: 1px solid #E9E3F2;
    border-radius: 50px;
    color: #DAD1EA;
    height: 90%;
    width: 60%;
}

input::placeholder {
    color: #DAD1EA;
}

textarea {
    background: #e9e3f2;
    border: 1px solid #E9E3F2;
    border-radius: 10px;
    resize: none;
}

textarea::placeholder {
    color: #DAD1EA;
}

.contact label {
    font-size: 1.3vw;
    position: absolute;
    left: 1.2vw;
}

.contact .title-text {
    padding: 13px;
    margin-bottom: 20px;
    resize: none;
}

.contact .l3 {
    top: 9vw;
}

.contact textarea {
    display: block;
    position: absolute;
    border: 1px solid #eee;
    padding: 13px;
    resize: none;
    top: 12vw;
    left: 1vw;
    width: 92%;
    height: 100%;
}

.contact .btn {
    border-radius: 5px;
    float: right;
}

.contact button {
    border-radius: 50px;
    width: 6vw;
    height: 2vw;
    line-height: 1;
    background: #D63724;
    color: #fff;
    position: absolute;
    right: 1vw;
    top: 23vw;
}

/* menu */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.outer-menu {
    position: fixed;
    top: 30px;
    left: 30px;
}

.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked+.hamburger>div {
    transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:before,
.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked~.menu {
    pointer-events: auto;
    visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.outer-menu .hamburger {
    position: absolute;
    top: 0vw;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 8px 16px;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .hamburger>div {
    border-radius: 3px;
    position: relative;
    flex: none;
    width: 30px;
    height: 3px;
    /* width: 32px; height: 12px; */
    background: #E91C0D;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .hamburger>div:before,
.outer-menu .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2.8px;
    border-radius: 3px;
    background: inherit;
    /* transition: all 0.4s ease; */
}

.outer-menu .hamburger>div:after {
    top: 10px;
}

.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div {
    width: 200vw;
    height: 200vw;
    color: #E91C0D;
    background: rgba(218, 209, 234, 0.97);
    border-radius: 50%;
    transition: all 0.4s ease;
    flex: none;
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div img {
    width: 10vw;
    top: 42%;
    left: 50%;
}

.outer-menu .menu>div img:hover {
    width: 12vw;
    transition: all 0.2s ease;
    cursor: url("../images/ic-mouse-hover.png"),
        auto;
}

.outer-menu .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu>div>div>ul {
    list-style: none;
    margin: 0;
    display: block;
    max-height: 100vh;
    top: 53%;
}

.outer-menu .menu>div>div>ul>li {
    padding: 0;
    margin: 3vw;
    font-size: 4vw;
    display: block;
}

.outer-menu .menu>div>div>ul>li>a {
    position: relative;
    display: inline;
    cursor: url("../images/ic-mouse-hover.png"),
        auto;
    transition: color 0.4s ease;
    color: #E91C0D;
}

@keyframes slide {
    from {
        width: 0vw;
        margin-left: 1vw;
    }

    to {
        width: 25vw;
        margin-left: -1vw;
    }
}

@keyframes unslide {
    from {
        width: 25vw;
        margin-left: -1vw;
    }

    to {
        width: 0vw;
        margin-left: 1vw;
    }
}

.outer-menu .menu>div>div>ul>li>a>span {
    animation-duration: 0.6s;
    animation-name: unslide;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.outer-menu .menu>div>div>ul>li>a:hover span {
    animation-duration: 0.6s;
    animation-name: slide;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

/* .outer-menu .menu > div > div > ul > li > a:hover:after {
            width: 100%;
        } */
.outer-menu .menu>div>div>ul>li>a:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    transition: width 0.4s ease;
}


@media (max-width: 1024px) {
    .outer-menu .menu>div img {
        width: 150px;
        top: 33%;
    }

    .outer-menu .menu>div>div>ul {
        top: 55%
    }

    .outer-menu .menu>div>div>ul>li {
        margin: 8vw;
        font-size: 50px;
    }
}

@media (max-width: 460px) {
    .outer-menu .menu>div img {
        width: 60px;
        top: 25%;
    }

    .outer-menu .menu>div>div>ul {
        top: 50%
    }

    .outer-menu .menu>div>div>ul>li {
        margin: 30px;
        font-size: 30px;
    }
}

.outer-menu .menu .line1 {
    /* width: 25vw; height: 0.6vw; */
    width: 0vw;
    height: 0.6vw;
    background: #e91c0d;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.6vw;
    margin-left: 1vw;
    margin-right: -1vw;
}

.outer-menu .menu .line2 {
    width: 0vw;
    height: 0.6vw;
    /* width: 25vw; height: 0.6vw; */
    background: #e91c0d;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.2vw;
    margin-left: 1vw;
    margin-right: -1vw;
}

.outer-menu .menu .line3 {
    width: 0vw;
    height: 0.6vw;
    /* width: 25vw; height: 0.6vw; */
    background: #e91c0d;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.5vw;
    margin-left: 1vw;
    margin-right: -1vw;
}

.outer-menu .menu .line4 {
    width: 0vw;
    height: 0.6vw;
    /* width: 25vw; height: 0.6vw; */
    background: #e91c0d;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.5vw;
    margin-left: 1vw;
    margin-right: -1vw;
}

.scroll {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 48px;
    height: 48px;
    background: #e91c0d;
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    color: #fff;
    border-radius: 50%;
    z-index: 99999;
}

/* 로딩 */
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #fbe9e8;
    z-index: 1000;
    /* 이 값으로 레이어의 위치를 조정합니다. */
}

.loading p {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, 30vh);
    font-size: 1.2vw;
    color: #e91c0d;
}

/* .loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fbe9e8;
}

.loading p {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    font-size: 1vw;
    color: #e91c0d;
} */

/* audio */
.loading .loading_audio .btn-sound {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    /* background-color: #e91c0d; */
    border: 2px solid rgba(233, 28, 13, 1);
    border-radius: 50%;
    cursor: url("../images/ic-mouse-hover.png"),
        auto;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    padding-top: 2px;
    z-index: 99999;
}

.loading .loading_audio .btn-sound .fa-volume-off {
    color: #e91c0d;
    font-size: 18px;
}

.loading .loading_audio .btn-sound .fa-volume-up {
    color: #e91c0d;
    font-size: 18px;
}

.audio .btn-sound {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* background-color: #e91c0d; */
    border: 3px solid rgba(233, 28, 13, 1);
    border-radius: 50%;
    position: fixed;
    left: 30px;
    bottom: 30px;
    padding-top: 2.5px;
    z-index: 99999;
    cursor: pointer;
}

.audio .btn-sound .fa-volume-off {
    color: #e91c0d;
    font-size: 22px;
}

.audio .btn-sound .fa-volume-up {
    color: #e91c0d;
    font-size: 22px;
}

/* circle */
.loading .circle-wrap {
    position: relative;
    left: 85%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.loading .circle-inner {
    transform-style: preserve-3d;
}

.loading .circle-wrap .circle {
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: #e91c0d;
    overflow: hidden;
    /* animation: round 11000ms ease-in-out infinite alternate, rotateZ 13000ms linear; */
    animation: round 11000ms ease-in-out infinite alternate;
}

.loading .circle-wrap .circle img {
    width: 90%;
}

.circle-wrap {
    position: absolute;
    left: 36%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.circle-inner {
    transform-style: preserve-3d;
}

.circle-wrap .circle {
    position: absolute;
    height: 480px;
    width: 480px;
    opacity: 0.8;
    /* background: #e91c0d; */
    overflow: hidden;
    animation: round 8000ms ease-in-out infinite alternate;
}

.circle-wrap .circle img {
    width: 100%;
    position: absolute;
}

@keyframes round {
    0% {
        border-radius: 20% 70% 70% 30%/30% 36% 70% 78%;
    }

    25% {
        border-radius: 65% 35% 55% 49%/49% 52% 36% 51%;
    }

    50% {
        border-radius: 42% 58% 33% 72%/65% 34% 66% 48%;
    }

    75% {
        border-radius: 34% 66% 82% 37%/77% 38% 62% 23%;
    }

    100% {
        border-radius: 24% 76% 55% 28%/53% 62% 35% 52%;
    }
}

@keyframes rotateZ {
    0% {
        transform: rotateZ(0deg) scale(1);
    }

    20% {
        transform: scale(1.5);
    }

    40% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.7);
    }

    80% {
        transform: scale(1.6);
    }

    100% {
        transform: rotateZ(360deg) scale(2.3);
    }
}

/* header */
.header {
    position: fixed;
    z-index: 100000;
}

.header .fa-bars {
    color: #e91c0d;
    position: fixed;
    left: 2.5vw;
    top: 2.5vw;
    font-size: 2.5vw;
}

.header .logo {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    top: 30px;
}

@media (max-width: 460px){
    .header .logo {
        width: 45px;
        height: 45px;
    }
}

.header .logo.up {
    animation-name: up;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.header .logo.down {
    animation-name: down;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes up {
    from {
        top: 2.5vw;
    }

    to {
        top: -5vw;
    }
}

@keyframes down {
    from {
        top: -5vw;
    }

    to {
        top: 2.5vw;
    }
}

/* bottom */
.bottom {
    position: fixed;
    bottom: 300px;
    animation: infinite;
    animation-duration: 2s;
    animation-name: opacity;
    z-index: 10000;
}

.bottom.end {
    display: none;
}

@keyframes opacity {
    from {
        opacity: 0;
        top: 53%;
    }

    to {
        opacity: 1;
        top: 63%;
    }
}

.bottom .arrow-down {
    position: absolute;
    width: 20px;
    left: 50%;
    bottom: -280px;
    transform: translate(-50%, -50%);
}

.next .arrow-down {
    position: absolute;
    width: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: infinite;
    animation-duration: 2s;
    animation-name: next;
}

@keyframes next {
    from {
        opacity: 0;
        bottom: -18vw;
    }

    to {
        opacity: 1;
        bottom: -22vw;
    }
}

/* section1 */
#section1 .sec1-text1 {
    z-index: 100;
    font-size: 8vw;
    white-space: nowrap;
    color: #e91c0d;
    display: block !important;
}

#section1 .sec1-text1 .t1 {
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: slidein;
    margin-top: -17%;
}

#section1 .sec1-text1 .t2 {
    margin-top: -2%;
}

#section1 .sec1-text1 .t3 {
    margin-top: 14%
}

/* @keyframes slidein {
            from {
                left: 130vw;
            }
            to {
                left: 50vw;
            }
        } */

#section1 .sec1-text1 .t1 .line1 {
    width: 25vw;
    height: 1.2vw;
    background: #e91c0d;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -3.65vw;
    margin-left: -1vw;
    margin-right: -1vw;
}

#section1 .sec1-text1 .t2 .line2 {
    width: 25vw;
    height: 1.1vw;
    background: #e91c0d;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.9vw;
    margin-left: -2vw;
    margin-right: -2vw;
}

#section1 .sec1-text1 .t3 .line3 {
    width: 25vw;
    height: 1vw;
    background: #e91c0d;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.6vw;
    margin-left: -2vw;
    margin-right: -2vw;
}

#section1 .sec1-text1 .t4 {
    margin-top: -2%;
}

#section1 .sec1-text1 .t4 .line3 {
    height: 1.2vw;
    margin-left: 3vw;
    /* width: 25vw; height: 1.2vw; */
    /* margin-left: -1vw; margin-right: -2vw; */
    background: #e91c0d;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.65vw;
}

#section1 .sec1-img1 {
    z-index: 100;
}

#section1 .sec1-img {
    top: 53%;
}

#section1 .img1 {
    width: 20vw;
}

#section1 .sec1-img2 {
    z-index: 100;
}

#section1 .img2 {
    width: 6vw;
    animation: fly 2s infinite alternate;
}

#section1 .img3 {
    width: 12vw;
    animation: fly 2s infinite alternate;
}

/* #section2 */
#section2 .sec2-text1 {
    z-index: 100;
    font-size: 3.5vw;
    color: #fff;
    text-align: left;
    white-space: nowrap;
}

#section2 .sec2-text1 .t1 {
    margin-top: -19%;
    left: 45vw
}

#section2 .sec2-text1 .t2 {
    margin-top: -10%;
    left: 45vw;
}

#section2 .sec2-text1 .t3 {
    margin-top: -1%;
    left: 35vw;
}

#section2 .sec2-text1 .t4 {
    margin-top: 8%;
    left: 39.5vw;
}

#section2 .sec2-text1 .t5 {
    margin-top: 17%;
    left: 39.5vw;
}

#section2 .sec2-text1 .line1 {
    width: 50vw;
    height: 0.7vw;
    background: #fff;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.4vw;
    margin-left: -1vw;
    margin-right: -1vw;
}

#section2 .sec2-text1 .line2 {
    width: 47vw;
    height: 0.55vw;
    background: #fff;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.38vw;
    margin-left: -1.2vw;
    margin-right: -1vw;
}

#section2 .sec2-text1 .line3 {
    width: 25vw;
    height: 0.6vw;
    background: #fff;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.4vw;
    margin-left: -1.2vw;
    margin-right: -1vw;
}

#section2 .sec2-text1 .line4 {
    width: 31.5vw;
    height: 0.6vw;
    background: #fff;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.42vw;
    margin-left: -1.3vw;
    margin-right: -1.2vw;
}

#section2 .sec2-text1 .line5 {
    width: 24vw;
    height: 0.7vw;
    background: #fff;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.4vw;
    margin-left: -1.2vw;
    margin-right: -1.2vw;
}

#section2 .sec2-text2 {
    color: #fff;
    font-size: 2vw;
    top: 40vw;
    left: 85.5vw;
    white-space: nowrap;
}

#section2 .sec2-img1 {
    z-index: 100;
    top: 25vw;
    animation: fly 1.5s infinite alternate;
}

@keyframes fly {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0.6vw, 0.5vw);
    }
}

.face {
    position: relative;
    left: 1.5vw;
    top: 1.1vw;
    width: 11vw;
}

.eye1 {
    left: 8vw;
    top: 5.3vw;
    width: 1vw;
    position: absolute;
}

.eye2 {
    left: 4.8vw;
    top: 4.9vw;
    width: 1vw;
    position: absolute;
}

.eye3 {
    position: absolute;
    width: 1.5vw;
    left: 4.5vw;
    top: 5vw;
}

/* section3 */
#section3 .sec3-text1 {
    color: #00A470;
    font-size: 8vw;
    white-space: nowrap;
}

#section3 .sec3-text1 .t1 {
    margin-top: -18vw;
    left: 120vw;
}

#section3 .sec3-text1 .t1 .t1-1 {
    left: 48vw;
    top: 8.07vw;
}

#section3 .sec3-text1 .t2 {
    margin-top: -2%;
}

#section3 .sec3-text1 .t3 {
    margin-top: 15vw;
    left: 130vw;
}

#section3 .sec3-img1 {
    z-index: 10000;
    top: 2vw;
    left: 30vw;
    width: 18vw;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#section3 .sec3-text1 .line1 {
    width: 25vw;
    height: 1.26vw;
    background: #00A470;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -3.6vw;
    margin-left: -1vw;
    margin-right: -1vw;
}

#section3 .sec3-text1 .line2 {
    width: 40vw;
    height: 1.2vw;
    background: #00A470;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.73vw;
    margin-left: -1.2vw;
    margin-right: -1vw;
}

#section3 .sec3-text1 .line3 {
    width: 25vw;
    height: 1.3vw;
    background: #00A470;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -3.6vw;
    margin-left: -1.2vw;
    margin-right: -1vw;
}

#section3 .sec3-text2 .t1 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 5vw;
    white-space: nowrap;
    left: 28vw;
    top: 41%
}

#section3 .sec3-text2 .line1 {
    width: 25vw;
    height: 0.77vw;
    background: #FBFFF5;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.55vw;
    margin-left: -1vw;
    margin-right: -1vw;
}

/* section4 */
#section4 .sec4-img1 {
    width: 40vw;
    top: 50%;
    left: 30vw;
}

#section4 .sec4-img2 {
    width: 37.5vw;
    left: 30vw;
    margin-top: -5vw;
}

#section4 .sec4-text1 .t1 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 3vw;
    white-space: nowrap;
    left: 69vw;
    margin-top: -10vw;
}

#section4 .sec4-text1 .t1 .line1 {
    width: 10vw;
    height: 0.6vw;
    background: #FBFFF5;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.08vw;
    margin-left: -0.5vw;
    margin-right: -0.5vw;
}

#section4 .sec4-text1 .t2 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 1.5vw;
    left: 71.5vw;
    margin-top: -1vw;
    word-break: keep-all;
}

#section4 .sec4-text1 .button {
    width: 10vw;
    height: 3vw;
    border-radius: 50px;
    background: #FBFFF5;
    text-align: center;
    line-height: 2.8vw;
    font-size: 1vw;
    left: 62%;
    margin-top: 9.7vw;
}

#section4 .sec4-text1 .button a {
    color: #00A470;
}

/* section5 */
#section5 .sec5-img1 {
    width: 40vw;
    top: 50%;
    left: 70vw;
}

#section5 .sec5-img2 {
    width: 37.5vw;
    left: 70vw;
    ;
    margin-top: -5vw;
}

#section5 .sec5-text1 .t1 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 3vw;
    white-space: nowrap;
    left: 18vw;
    margin-top: -10vw;
}

#section5 .sec5-text1 .t1 .line1 {
    width: 10vw;
    height: 0.6vw;
    background: #FBFFF5;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -1.1vw;
    margin-left: -0.8vw;
    margin-right: -0.5vw;
}

#section5 .sec5-text1 .t2 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 1.5vw;
    left: 27.5vw;
    margin-top: -1vw;
    word-break: keep-all;
}

#section5 .sec5-text1 .button {
    width: 10vw;
    height: 3vw;
    border-radius: 50px;
    background: #FBFFF5;
    text-align: center;
    line-height: 2.8vw;
    font-size: 1vw;
    left: 15%;
    margin-top: 9.7vw;
}

#section5 .sec5-text1 .button a {
    color: #00A470;
}

/* section6 */
#section6 .sec6-img1 {
    width: 40vw;
    top: 50%;
    left: 30vw;
}

#section6 .sec6-img2 {
    width: 37.5vw;
    left: 30vw;
    margin-top: -5vw;
}

#section6 .sec6-text1 .t1 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 3vw;
    white-space: nowrap;
    left: 64.5vw;
    margin-top: -6vw;
}

#section6 .sec6-text1 .t1 .line1 {
    width: 10vw;
    height: 0.6vw;
    background: #FBFFF5;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.08vw;
    margin-left: -0.5vw;
    margin-right: -0.5vw;
}

#section6 .sec6-text1 .t2 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 1.5vw;
    left: 71.5vw;
    margin-top: 1vw;
    word-break: keep-all;
}

#section6 .sec6-text1 .button {
    width: 10vw;
    height: 3vw;
    border-radius: 50px;
    background: #FBFFF5;
    text-align: center;
    line-height: 2.8vw;
    font-size: 1vw;
    left: 62%;
    margin-top: 9.7vw;
}

#section6 .sec6-text1 .button a {
    color: #00A470;
}

/* section7 */
#section7 .sec7-img1 {
    width: 40vw;
    top: 50%;
    left: 70vw;
}

#section7 .sec7-img2 {
    width: 37.5vw;
    left: 70vw;
    ;
    margin-top: -5vw;
}

#section7 .sec7-text1 .t1 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 3vw;
    white-space: nowrap;
    left: 18vw;
    margin-top: -10vw;
}

#section7 .sec7-text1 .t1 .line1 {
    width: 10vw;
    height: 0.6vw;
    background: #FBFFF5;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.35vw;
    margin-left: -1vw;
    margin-right: -1vw;
}

#section7 .sec7-text1 .t2 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 1.5vw;
    left: 24vw;
    margin-top: -1vw;
    word-break: keep-all;
}

#section7 .sec7-text1 .button {
    width: 10vw;
    height: 3vw;
    border-radius: 50px;
    background: #FBFFF5;
    text-align: center;
    line-height: 2.8vw;
    font-size: 1vw;
    left: 14%;
    margin-top: 9.7vw;
}

#section7 .sec7-text1 .button a {
    color: #00A470;
}

/* section8 */
#section8 .sec8-img1 {
    width: 40vw;
    top: 50%;
    left: 30vw;
}

#section8 .sec8-img2 {
    width: 37.5vw;
    left: 30vw;
    margin-top: -5vw;
}

#section8 .sec8-text1 .t1 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 3vw;
    white-space: nowrap;
    left: 64.5vw;
    margin-top: -10vw;
}

#section8 .sec8-text1 .t1 .line1 {
    width: 10vw;
    height: 0.53vw;
    background: #FBFFF5;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.14vw;
    margin-left: -0.5vw;
    margin-right: -0.8vw;
}

#section8 .sec8-text1 .t2 {
    color: #FBFFF5;
    z-index: 100;
    font-size: 1.5vw;
    left: 71.5vw;
    margin-top: -1vw;
    word-break: keep-all;
}

#section8 .sec8-text1 .button {
    width: 10vw;
    height: 3vw;
    border-radius: 50px;
    background: #FBFFF5;
    text-align: center;
    line-height: 2.8vw;
    font-size: 1vw;
    left: 62%;
    margin-top: 9.7vw;
}

#section8 .sec8-text1 .button a {
    color: #00A470;
}

/* section9 */

#section9 .btn-view {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


#section9 .sec9-img1 {
    position: relative;
    right: -300%;
    bottom: -20%;
    z-index: 9000;
}

#section9 .sec9-img1 img {
    width: 80%;
}

#section9 .sec9-img2 {
    width: 25vw;
    left: 25%;
    top: 100%;
}

#section9 .sec9-img3 {
    width: 25vw;
    left: 25%;
    top: 100%;
    /* left: 25%; top: 140%; */
}

#section9 .sec9-text1 .t1 {
    z-index: 1;
    white-space: nowrap;
    color: #0F15E2;
    font-size: 8vw;
    top: 47%;
    left: 140%;
}

#section9 .sec9-text1 .t1 .line1 {
    /* width: 25vw; */
    height: 1.12vw;
    background: #0F15E2;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.9vw;
    /* margin-left: -1vw;
            margin-right: -2vw; */
    margin-left: 3vw;
}

#section9 .sec9-img4 {
    width: 25vw;
    /* left: 20%; top: 90%; */
    left: 20%;
    top: 130%;
}

#section9 .sec9-img5 {
    width: 20vw;
    /* left: 70%; top: 10%; */
    left: 100%;
    top: 10%;
    animation: fly 1.5s infinite alternate;
    z-index: 9999;
}

#section9 .sec9-text2 .t1 {
    white-space: nowrap;
    font-size: 1.8vw;
    left: 107%;
    /* top: 15.2%; */
    top: 8.5vw;
    /* left: 77%;  top: 8vw; */
    animation: fly 1.5s infinite alternate;
}

#section9 .sec9-text2 .t1 a {
    color: #0F15E2;
}

#section9 .sec9-text3 .t1 {
    z-index: 1;
    white-space: nowrap;
    color: #0F15E2;
    font-size: 3vw;
    top: 90%;
}

#section9 .sec9-text4 {
    top: -20%;
    left: 20%;
}

#section9 .sec9-text4 iframe {
    width: 65vw;
    height: 75vw;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
}

#section9 .sec9-text4 .i1 {}

/* //animation part1 */

#section9 .sec9-img6 {
    width: 20vw;
    /* left: 70%; top: 10%; */
    left: 100%;
    top: 10%;
    animation: fly 1.5s infinite alternate;
    z-index: 9999;
}

#section9 .sec9-text5 .t1 {
    white-space: nowrap;
    font-size: 1.8vw;
    left: 107%;
    top: 15.2%;
    /* left: 77%;  top: 8vw; */
    animation: fly 1.5s infinite alternate;
}

#section9 .sec9-text5 .t1 a {
    color: #0F15E2;
}

#section9 .sec9-text6 .t1 {
    z-index: 1;
    white-space: nowrap;
    color: #0F15E2;
    font-size: 3vw;
    top: 90%;
}

#section9 .sec9-text7 {
    top: -20%;
    left: 20%;
}

#section9 .sec9-text7 iframe {
    width: 65vw;
    height: 75vw;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
}

#section9 .sec9-text7 .i1 {}

/* //animation part2 */

#section9 .sec9-img7 {
    width: 20vw;
    /* left: 70%; top: 10%; */
    left: 100%;
    top: 10%;
    animation: fly 1.5s infinite alternate;
    z-index: 9999;
}

#section9 .sec9-text8 .t1 {
    white-space: nowrap;
    font-size: 1.8vw;
    left: 107%;
    top: 15.2%;
    /* left: 77%;  top: 8vw; */
    animation: fly 1.5s infinite alternate;
}

#section9 .sec9-text8 .t1 a {
    color: #0F15E2;
}

#section9 .sec9-text9 .t1 {
    z-index: 1;
    white-space: nowrap;
    color: #0F15E2;
    font-size: 3vw;
    top: 90%;
}

#section9 .sec9-text10 {
    top: -20%;
    left: 20%;
}

#section9 .sec9-text10 iframe {
    width: 65vw;
    height: 75vw;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
}

#section9 .sec9-text10 .i1 {}

/* //animation part3 */



#section10 .sec10-img1 {
    width: 10vw;
    top: 70%;
    left: 100vw;
    /* left: 20vw; */
    animation: fly 1.5s infinite alternate;
}

#section10 .sec10-img2 {
    width: 10vw;
    top: 20%;
    left: 100vw;
    /* left: 80vw; */
    animation: fly 1.5s infinite alternate;
}

#section10 .sec10-text1 .t1 {
    color: #E6F0FC;
    z-index: 100;
    font-size: 6vw;
    white-space: nowrap;
    /* left: 35vw; */
    left: 130vw;
    top: 15%;
}

#section10 .sec10-text1 .t1 .line1 {
    /* width: 20vw; */
    height: 0.7vw;
    background: #E6F0FC;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: 0.65vw;
    /* margin-left: -1vw;
            margin-right: -1vw;   */
    margin-left: 4vw;
    margin-right: -0.8vw;
}

#section10 .sec10-text1 .t2 {
    color: #E6F0FC;
    z-index: 100;
    font-size: 6vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 80%;
    left: 120vw;
}

#section10 .sec10-text1 .t2 .line1 {
    /* width: 20vw; */
    height: 1vw;
    background: #E6F0FC;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.7vw;
    /* margin-left: -1vw;
            margin-right: -1vw;   */
    margin-left: 1vw;
    margin-right: -0.8vw;
}

#section10 .sec10-text1 .t3 {
    color: #E6F0FC;
    z-index: 100;
    font-size: 5vw;
    white-space: nowrap;
}

#section11 .sec11-text1 .t1 {
    color: #0F15E2;
    z-index: 100;
    font-size: 4vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 12%;
}

#section11 .sec11-text1 .t1 .line1 {
    /* width: 20vw; */
    height: 0.7vw;
    background: #0F15E2;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.8vw;
    /* margin-left: -1.2vw;
            margin-right: -1vw;   */
    margin-left: 3vw;
    margin-right: -0.8vw;
}

#section11 .sec11-text1 .t2 {
    color: #0F15E2;
    z-index: 100;
    font-size: 2vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 25%;
}

#section11 .sec11-text1 .t3 {
    z-index: 1;
    top: 65%;
    left: 50%;
}

#section11 .sec11-text1 .t3 iframe {
    width: 50vw;
    height: 30vw;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#section11 .sec11-text1 .t3 .i1 {}

#section11 .sec11-img1 {
    top: 64.5%;
    width: 50vw;
    height: 35vw;
}

#section12 .sec12-text1 .t1 {
    color: #0F15E2;
    z-index: 100;
    font-size: 4vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 12%;
}

#section12 .sec12-text1 .t1 .line1 {
    /* width: 20vw; */
    height: 0.7vw;
    background: #0F15E2;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.8vw;
    /* margin-left: -1.2vw;
            margin-right: -1vw;   */
    margin-left: 3vw;
    margin-right: -0.8vw;
}

#section12 .sec12-text1 .t2 {
    color: #0F15E2;
    z-index: 100;
    font-size: 2vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 25%;
}

#section12 .sec12-text1 .t3 {
    z-index: 1;
    top: 65%;
    left: 50%;
}

#section12 .sec12-text1 .t3 iframe {
    width: 50vw;
    height: 30Vw;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#section12 .sec12-text1 .t3 .i1 {}

#section12 .sec12-img1 {
    top: 64.5%;
    width: 50vw;
    height: 35vw;
}

#section13 .sec13-text1 .t1 {
    color: #0F15E2;
    z-index: 100;
    font-size: 4vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 12%;
}

#section13 .sec13-text1 .t1 .line1 {
    /* width: 20vw; */
    height: 0.6vw;
    background: #0F15E2;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.9vw;
    /* margin-left: -1.2vw;
            margin-right: -1vw;   */
    margin-left: 3vw;
    margin-right: -0.8vw;
}

#section13 .sec13-text1 .t2 {
    color: #0F15E2;
    z-index: 100;
    font-size: 2vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 25%;
}

#section13 .sec13-text1 .t3 {
    z-index: 1;
    top: 65%;
    left: 50%;
}

#section13 .sec13-text1 .t3 iframe {
    width: 50vw;
    height: 30vw;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#section13 .sec13-text1 .t3 .i1 {}

#section13 .sec13-img1 {
    top: 64.5%;
    width: 50vw;
    height: 35vw;
}

/* section14 */
#section14 .sec14-text1 .t1 {
    color: #0F15E2;
    z-index: 100;
    font-size: 4vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 12%;
    z-index: 99999;
}

#section14 .sec14-text1 .t1 .line1 {
    /* width: 20vw; */
    height: 0.6vw;
    background: #0F15E2;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -2.9vw;
    /* margin-left: -1.2vw;
            margin-right: -1vw;   */
    margin-left: 3vw;
    margin-right: -0.8vw;
}

#section14 .sec14-text1 .t2 {
    color: #0F15E2;
    z-index: 100;
    font-size: 2vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 25%;
}

#section14 .sec14-text1 .t3 {
    z-index: 1;
    top: 65%;
    left: 50%;
}

#section14 .sec14-text1 .t3 iframe {
    width: 50vw;
    height: 30vw;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#section14 .sec14-text1 .t3 .i1 {}

#section14 .sec14-img1 {
    top: 64.5%;
    width: 50vw;
    height: 35vw;
}

/* section15 */
#section15 .sec15-img1 {
    width: 20vw;
    left: 40%;
    top: 50%;
    cursor: url("../images/ic-mouse-hover.png"),
        auto;
}

#section15 .sec15-text1 .t1 {
    color: #FDFFD3;
    z-index: 100;
    font-size: 7vw;
    white-space: nowrap;
    left: 43vw;
    top: 45%;
}

#section15 .sec15-text1 .t1 .line1 {
    /* width: 20vw; */
    height: 1vw;
    background: #FDFFD3;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -5.05vw;
    /* margin-left: -1.2vw;
    margin-right: -1vw;   */
    margin-left: 3vw;
    margin-right: -0.8vw;
}

#section15 .sec15-text1 .t2 {
    color: #FDFFD3;
    z-index: 100;
    font-size: 7vw;
    white-space: nowrap;
    /* left: 60vw;  */
    top: 70%;
}

#section15 .sec15-text1 .t2 .line1 {
    /* width: 20vw; */
    height: 1vw;
    background: #FDFFD3;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    top: -5.05vw;
    /* margin-left: -1.2vw;
    margin-right: -1vw;   */
    margin-left: 3vw;
    margin-right: -0.8vw;
}

/* section16 */
#section16 .sec16-img1 {
    width: 30%;
    top: 60%;
    left: 120vw;
}

.contact {
    display: flex;
    top: 60%;
    left: 25%;
}

#section16 .sec16-text1 {
    z-index: 1;
    top: 0vw;
    transition: top 1s ease;
}

#section16 .sec16-text1 .box {
    position: relative;
    display: none;
    color: #D63724;
    top: 2vw;
}

#section16 .sec16-text1 .box h4 {
    position: absolute;
    top: -5vw;
    left: 1vw;
    font-size: 2vw;
}

#section16 .sec16-text1.active {
    top: -8vw;
}

#section16 .sec16-text1 .t1 {
    color: #D63724;
    font-size: 3.5vw;
    white-space: nowrap;
}

#section16 .sec16-text1 .t1 .button {
    border: 3px solid #D63724;
    border-radius: 50px;
    width: 120%;
    height: 5vw;
    color: #D63724;
    font-size: 1.5vw;
    line-height: 2;
    white-space: nowrap;
    padding: 1vw;
    text-align: center;
    margin-top: 5vw;
    margin-left: -2.5vw;
    left: 15vw;
    cursor: url("../images/ic-mouse-hover.png"),
        auto;
    transition: height 1s ease;
}

#section16 .sec16-text1 .t1 .button:hover .button_txt {
    opacity: 0;
}

#section16 .sec16-text1 .t1 .txt {
    opacity: 1;
    transition: opacity 0.3s;
    margin-bottom: 10vw;
}

#section16 .sec16-text1 .t1 .txt.active {
    opacity: 0;
}

#section16 .sec16-text2 {
    top: 0vw;
    transition: top 1s ease;
}

#section16 .sec16-text2.active {
    top: -8vw;
}

#section16 .sec16-text2 .t1 {
    color: #D63724;
    font-size: 3.5vw;
    white-space: nowrap;
    margin-left: 98vw;
}

#section16 .sec16-text2 .t1 .button {
    border: 3px solid #D63724;
    border-radius: 50px;
    width: 33vw;
    height: 5vw;
    color: #D63724;
    font-size: 1.5vw;
    line-height: 2;
    white-space: nowrap;
    padding: 1vw;
    text-align: center;
    margin-top: 5vw;
    left: 112.5vw;
    transition: height 1s ease;
    cursor: url("../images/ic-mouse-hover.png"),
        auto;
}

#section16 .sec16-text2 .t1 .button:hover .button_txt {
    opacity: 0;
}

#section16 .sec16-text2 .t1 .txt {
    margin-bottom: 10vw;
    opacity: 1;
    transition: opacity 0.3s;
}

#section16 .sec16-text2 .t1 .txt.active {
    opacity: 0;
}

#section16 .sec16-text2 .box {
    position: relative;
    display: none;
    color: #D63724;
    top: 2vw;
}

#section16 .sec16-text2 .box h4 {
    position: absolute;
    top: -5vw;
    left: 1vw;
    font-size: 2vw;
}

#section16 .sec16-text2 .box .p1 {
    position: relative;
    font-size: 1.3vw;
    right: 12vw;
}

#section16 .sec16-text2 .box .p2 {
    position: relative;
    font-size: 1.3vw;
    right: 11.4vw;
}

#section16 .sec16-text2 .box .p3 {
    position: relative;
    font-size: 1.3vw;
    right: 11.6vw;
}

#section16 .sec16-text2 .box .p4 {
    position: relative;
    font-size: 1.3vw;
    right: 11.6vw;
}

#section16 .sec16-text2 .box span.s1 {
    position: absolute;
    margin-left: 4vw;
}

#section16 .sec16-text2 .box span.s2 {
    position: absolute;
    margin-left: 3vw;
}

#section16 .sec16-text2 .box span.s3 {
    position: absolute;
    margin-left: 3.5vw;
}

#section16 .sec16-text2 .box span.s4 {
    position: absolute;
    margin-left: 3vw;
}

/* svg */
#section1 #circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    /* width: 0vw; height: 0vh; */
    animation-delay: 2s;
    animation-duration: 2s;
    /* animation-name: show; */
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        width: 0vw;
        height: 0vh;
    }

    to {
        width: 100vw;
        height: 100vh;
    }
}

#section1 .controls {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
}

#section1 .dot {
    fill-opacity: 0.3;
    stroke-width: 1;
    vector-effec: non-scaling-stroke;
}

#section1 #slider {}

#section1 #slider .slider-wrap {}

#section1 #slider .slider-wrap .slider-img {
    position: relative;
}

#section1 #slider .slider-wrap .slider {
    position: absolute;
    left: 0;
    top: 0;
}

#section1 #slider .slider-wrap .cls-3 {
    width: 100%;
		height: 100%;
		object-fit: cover;
}

#section3 #svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.6);
}

#section3 #path1 {
    fill: #8AE2B3;
    /* fill: #00A470; */
    mix-blend-mode: multiply;
}

#section10 #svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.6);
}

#section10 #path2 {
    fill: #F9FE94;
    mix-blend-mode: multiply;
}

#section10 #svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.6);
}

#section10 #path3 {
    fill: #0F15E2;
    mix-blend-mode: multiply;
}

#section15 #svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.6);
}

#section15 #path4 {
    fill: #FDFFD3;
    mix-blend-mode: multiply;
}