/* 메인 폰트*/
@font-face {
    font-family: 'Motter Corpus Std';
    src: url('../fonts/Motter-Corpus-Std.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*서브 폰트*/
@font-face {
    font-family: 'gt_pressura_monoregular';
    src: url('../fonts/gt-pressura-mono-webfont.woff2') format('woff2'),
        url('../fonts/gt-pressura-mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_pressura_monobold';
    src: url('../fonts/gt-pressura-mono-bold-webfont.woff2') format('woff2'),
        url('../fonts/gt-pressura-mono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Always In My Heart Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Always In My Heart Regular'), url('../fonts/Always\ In\ My\ Heart.woff') format('woff');
}


/*한글 폰트*/
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Ohsquareair.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}