* {margin: 0; padding: 0; box-sizing: border-box;}
em {font-style: normal;}
@font-face {
    font-family: 'Motter Corpus Std';
    src: url('https://rlozib.github.io/dothome21/Port/assets/fonts/Motter-Corpus-Std.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Ohsquareair.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* scroll */
.scroll {
    position: fixed;
    left: 20px; 
    bottom: 20px;
    z-index: 100000;
    font-family: 'Motter Corpus Std';
    color: #e39c3d;
    font-size: 24px;
}

/* layout */
#contents {
    height: 700vh;
}
#section1 {
    height: 100vh;
    background: #296650;
    position: relative;
    z-index: 7000;
}
#section2 {
    height: 100vh;
    padding: 5vw;
    box-sizing: border-box;
    background: #A5323C;
    position: relative;
    z-index: 7000;
}
#section3 {
    height: 100vh;
    background: #ECDED6;
    position: relative;
    z-index: 7000;
}
#section4 {
    height: 100vh;
    background: #A5323C;
    position: relative;
    z-index: 7000;
}
#section5 {
    height: 100vh;
    background: #ECDED6;
    position: relative;
    z-index: 7000;
}
#section6 {
    height: 100vh;
    background: #296650;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100vh;
    z-index: 6000;
}
#section7 {
    height: 100vh;
    background: #1C2048;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5000;
}

/* hdeader */
#header .ham {
    position: fixed;
    right: 20px; top: 20px;
    width: 40px; height: 40px;
    background: #e39c3d;
    border-radius: 4px;
    z-index: 10000;
}
#header .ham span {
    width: 20px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 18px 10px;
    position: relative;
}
#header .ham span::before {
    content: '';
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 6px;
}
#header .ham span::after {
    content: '';
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0; 
    top: 6px;
}
#header .music {
    position: fixed;
    right: 65px;
    top: 20px;
    width: 40px;
    height: 40px;
    background: #e39c3d;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    z-index: 10000;
}


/* sec1 */
.sec1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 h1 {
    font-family: 'Motter Corpus Std';
    color: #e39c3d;
    text-transform: uppercase;
    font-size: 5vw;
    line-height: 1;
    text-align: center;
}
.sec1 h1 em {
    display: block;
    font-size: 4.6vw;
    position: relative;
}
.sec1 h1 em::after {
    content: 'portfolio' ;
    position: absolute;
    left: 50%; 
    bottom: -30px;
    transform: translateX(-50%);
    font-size: 16px;
    font-family: 'Cafe24Ohsquareair';
    letter-spacing: 4px;
}
.particletext.hearts {
    color: #A5323C;
}
.particletext.hearts>.particle {
    opacity: 0;
    position: absolute;
    left: -100px;
    background-color: #ff838d;
    animation: hearts 3s ease-in infinite;
    
}
.particletext.hearts>.particle:before,
.particletext.hearts>.particle:after {
    position: absolute;
    content: "";
    border-radius: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ff838d;
}
.particletext.hearts>.particle:before {
    transform: translateX(-50%);
}
.particletext.hearts>.particle:after {
    transform: translateY(-50%);
}
@keyframes hearts {
    0% {
        opacity: 0;
        transform: translate(0, 0%) rotate(45deg);
    }

    20% {
        opacity: 0.8;
        transform: translate(0, -20%) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: translate(0, -1000%) rotate(45deg);
    }
}




/* sec2 */
.sec2 { 
    width: 100%;
    height: 100%;
    background-color: #E79E3C;
    background-image: url(https://rlozib.github.io/dothome21/Port/assets/img/dancingqueen.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    border-radius: 60px;
    position: relative;
    animation: ani 8s infinite linear forwards;
}
.sec2::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #bb40bb;
    opacity: 0.4;
    position: absolute;
    left: 0; top: 0;
    border-radius: 60px;
}
@keyframes ani {
    0%   {background-position: -1500px; }
    100% {background-position: 1500px;}
}
.sec2 .wavetext {
    position: absolute;
    left: 50%; top: 55%;
    transform: translate(-50%, -50%);
    font-family: 'Fredoka One', cursive;
}
.wavetext {
    text-align: center;
    white-space: nowrap;
}
.wavetext span {
    display: inline-block;
    font-family: "Fredoka One", sans-serif;
    font-size: 6vw;
    animation-duration: 0.4s;
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.wavetext :nth-child(40n+0) {
    animation-delay: -0.6s;
    color: #640a64;
}

.wavetext :nth-child(40n+1) {
    animation-delay: -0.585s;
    color: #780a8c;
}

.wavetext :nth-child(40n+2) {
    animation-delay: -0.57s;
    color: #8c0a7d;
}

.wavetext :nth-child(40n+3) {
    animation-delay: -0.555s;
    color: #a00a6e;
}

.wavetext :nth-child(40n+4) {
    animation-delay: -0.54s;
    color: #b40a96;
}

.wavetext :nth-child(40n+5) {
    animation-delay: -0.525s;
    color: #c80a87;
}

.wavetext :nth-child(40n+6) {
    animation-delay: -0.51s;
    color: #dc0a78;
}

.wavetext :nth-child(40n+7) {
    animation-delay: -0.495s;
    color: #f00a69;
}

.wavetext :nth-child(40n+8) {
    animation-delay: -0.48s;
    color: #690a91;
}

.wavetext :nth-child(40n+9) {
    animation-delay: -0.465s;
    color: #7d0a82;
}

.wavetext :nth-child(40n+10) {
    animation-delay: -0.45s;
    color: #910a73;
}

.wavetext :nth-child(40n+11) {
    animation-delay: -0.435s;
    color: #a50a64;
}

.wavetext :nth-child(40n+12) {
    animation-delay: -0.42s;
    color: #b90a8c;
}

.wavetext :nth-child(40n+13) {
    animation-delay: -0.405s;
    color: #cd0a7d;
}

.wavetext :nth-child(40n+14) {
    animation-delay: -0.39s;
    color: #e10a6e;
}

.wavetext :nth-child(40n+15) {
    animation-delay: -0.375s;
    color: #f50a96;
}

.wavetext :nth-child(40n+16) {
    animation-delay: -0.36s;
    color: #6e0a87;
}

.wavetext :nth-child(40n+17) {
    animation-delay: -0.345s;
    color: #820a78;
}

.wavetext :nth-child(40n+18) {
    animation-delay: -0.33s;
    color: #960a69;
}

.wavetext :nth-child(40n+19) {
    animation-delay: -0.315s;
    color: #aa0a91;
}

.wavetext :nth-child(40n+20) {
    animation-delay: -0.3s;
    color: #be0a82;
}

.wavetext :nth-child(40n+21) {
    animation-delay: -0.285s;
    color: #d20a73;
}

.wavetext :nth-child(40n+22) {
    animation-delay: -0.27s;
    color: #e60a64;
}

.wavetext :nth-child(40n+23) {
    animation-delay: -0.255s;
    color: #fa0a8c;
}

.wavetext :nth-child(40n+24) {
    animation-delay: -0.24s;
    color: #730a7d;
}

.wavetext :nth-child(40n+25) {
    animation-delay: -0.225s;
    color: #870a6e;
}

.wavetext :nth-child(40n+26) {
    animation-delay: -0.21s;
    color: #9b0a96;
}

.wavetext :nth-child(40n+27) {
    animation-delay: -0.195s;
    color: #af0a87;
}

.wavetext :nth-child(40n+28) {
    animation-delay: -0.18s;
    color: #c30a78;
}

.wavetext :nth-child(40n+29) {
    animation-delay: -0.165s;
    color: #d70a69;
}

.wavetext :nth-child(40n+30) {
    animation-delay: -0.15s;
    color: #eb0a91;
}

.wavetext :nth-child(40n+31) {
    animation-delay: -0.135s;
    color: #640a82;
}

.wavetext :nth-child(40n+32) {
    animation-delay: -0.12s;
    color: #780a73;
}

.wavetext :nth-child(40n+33) {
    animation-delay: -0.105s;
    color: #8c0a64;
}

.wavetext :nth-child(40n+34) {
    animation-delay: -0.09s;
    color: #a00a8c;
}

.wavetext :nth-child(40n+35) {
    animation-delay: -0.075s;
    color: #b40a7d;
}

.wavetext :nth-child(40n+36) {
    animation-delay: -0.06s;
    color: #c80a6e;
}

.wavetext :nth-child(40n+37) {
    animation-delay: -0.045s;
    color: #dc0a96;
}

.wavetext :nth-child(40n+38) {
    animation-delay: -0.03s;
    color: #f00a87;
}

.wavetext :nth-child(40n+39) {
    animation-delay: -0.015s;
    color: #690a78;
}
@keyframes wave {
    from {
        transform: translateY(0);
        color: white;
    }

    to {
        transform: translateY(-90px);
    }
}


/* sec3 */
.sec3 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec3 h2 {
    font-family: 'Motter Corpus Std';
    color: #e39c3d;
    text-transform: uppercase;
    font-size: 5vw;
    line-height: 1;
    text-align: center;
}
.sec3 h2 strong {
    display: block;
    font-size: 4.6vw;
    position: relative;
    color: #e39c3d;
    margin-bottom: 2vw;
    position: relative;
}
.sec3 h2 strong::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #e39c3d;
    position: absolute;
    left: 0; 
    bottom: -0.1vw;
    border-radius: 15px;
}
.sec3 h2 .s1 {
    font-size: 4.3vw;
}
.sec3 h2 .s2 {
    font-size: 5.9vw;
}


/* sec4 */
.sec4 {
    display: flex;
    height: 100vh;
}

.sec4 .left {
    width: 50%;
    background: url('https://rlozib.github.io/dothome21/Port/assets/img/about1.jpg') center center;
}

.sec4 .right {
    width: 50%;
    font-family: 'Cafe24Ohsquareair';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e39c3d;
    text-align: center;
    padding: 5%;
    position: relative;
}
.sec4 .right h3 {
    font-size: 4vw;
    margin-bottom: 1vw;
}
.sec4 .right p {
    font-size: 24px;
    line-height: 1.6;
    word-break: break-all;
}
.sec4 .right .word {
    position: absolute;
    left: 0;
    bottom: 1vw;
    width: 100%;
}
.sec4 .right .word span {
    display: inline-block;
    padding: 2vw 2vw;
    font-size: 40px;
    line-height: 1;
    padding-top: 0.9vw;
    padding-bottom: 0.4vw;
    margin-bottom: 1vw;
    font-family: 'Motter Corpus Std';
}
.sec4 .right .word span.active {
    background: #e39c3d;
    color : #A5323C;
    border-radius: 100px;
}



/* sec5 */
.sec5 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec5 h2 {
    font-family: 'Motter Corpus Std';
    color: #e39c3d;
    text-transform: uppercase;
    font-size: 5vw;
    line-height: 1;
    text-align: center;
}
.sec5 h2 strong {
    display: block;
    font-size: 4.6vw;
    position: relative;
    color: #e39c3d;
    margin-bottom: 2vw;
    position: relative;
}
.sec5 h2 strong::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #e39c3d;
    position: absolute;
    left: 0;
    bottom: -0.1vw;
    border-radius: 15px;
}
.sec5 h2 .s1 {
    font-size: 4.3vw;
}
.sec5 h2 .s2 {
    font-size: 7vw;
}

/* sec6  */
.sec6 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Motter Corpus Std';
    position: relative;
}
.sec6 .textWrap {
    position: relative;
    z-index: 100;
}
.sec6 .textWrap h2 {
    color: #e39c3d;
    font-size: 7vw;
    font-family: 'Motter Corpus Std';
    cursor: none;
}
.sec6 .textWrap p {
    font-family: 'Cafe24Ohsquareair';
    color: #fff;
    font-size: 22px;
}
.sec6 .btn {
    position: absolute;
    right: 20px; bottom: 20px;
}
.sec6 .btn a {
    background: #a2343c;
    color: #fff;
    padding: 17px 40px 15px 40px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    position: relative;
    z-index: 100;
}
.sec6 .cursor {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center center;
    background-attachment: fixed;
    background-size: cover;
    border: 10px solid #fff;
    overflow: hidden;
    z-index: 10;
    cursor: none;
    transition: border 0.2s ease;
    mix-blend-mode: luminosity;
}
.sec6 .cursor.active {
    border: 2vw solid #3f6e5d;
}



/* sec7  */
.sec7 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Motter Corpus Std';
    position: relative;
}
.sec7 .textWrap h2 {
    color: #e39c3d;
    font-size: 8vw;
    font-family: 'Motter Corpus Std';
}
.sec7 .textWrap p {
    font-family: 'Cafe24Ohsquareair';
    color: #fff;
    font-size: 20px;
}
.sec7 .btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.sec7 .btn a {
    background: #a2343c;
    color: #fff;
    padding: 17px 40px 15px 40px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
}