/*카드 타입 유형*/
body {
    background-color: #f3f3f3;
}
.cardType {
    margin: 100px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
/* cardType01 */
.cardType01 {
    font-family: 'GmarketSans';
    padding: 150px 0;
}
.cardType01 h2 {
    font-weight: 500;
    font-size: 50px; 
    margin-bottom: 7px;
}
.cardType01 p {
    font-weight: 200;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
}

/* float을 이용한 레이아웃 */
/* .card-warp {
    overflow: hidden;
}
.card-warp > div {
    float: left;
    width: 387px;
    margin-right: 19px;
}
.card-warp > div:last-child {
    margin-right: 0;
} */


/* flex를 이용한 레이아웃 */

.cardType01 .card-warp {
    display: flex;
    justify-content: space-between;
}
.cardType01 .card-warp > div {
    width: 387px;
}
.cardType01 .card {}
.cardType01 .card .card-img {}
.cardType01 .card .card-title {
    display: block;
    font-size: 32px;
    white-space: nowrap;    /* 한줄효과(<-왼쪽 세줄 코드 작성) */
    overflow: hidden;
    text-overflow: ellipsis;
}
.cardType01 .card .card-desc {
    display: block;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;   /* 두줄 효과 */
    display: -webkit-box; /* 벤터 프리픽스 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cardType01 .card .card-keyword {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}
/* //cardType01 */

/* cardType02 */
.cardType02 {
    font-family: 'S-CoreDream';
    padding: 150px 0;
}
.cardType02 h2 {
    font-weight: 500;
    font-size: 50px; 
    margin-bottom: 18px;
    text-align: center;
}
.cardType02 p {
    font-weight: 300;
    font-size: 26px;
    line-height: 1.28;
    margin-bottom: 40px;
    text-align: center;
}
/* float */
/* .cardType02 .card-warp {
    overflow: hidden;
}
.cardType02 .card-warp .card{
    float: left;
}
.cardType02 .card-warp .card:last-child {
    margin-right: 0;
} */

/* flex */
/* .cardType02 .card-warp {
    display: flex;
}
.cardType02 .card-warp .card{} */

/* grid */
.cardType02 .card-warp {
    display: grid;
    grid-template-columns: repeat(4, 285px) ;
    gap: 20px;
}

.cardType02 .card-warp .card {
    width: 285px;
    height: 356px;
    margin: 40px 20px 0 0;
    padding: 15px 15px 16px 14px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.cardType02 .card-warp .card .card-title {
    display: block;
    font-size: 24px;
    font-weight: 500;
}
.cardType02 .card-warp .card .card-desc {
    display: block;
}
.cardType02 .card-warp .card .card-word {}
.cardType02 .card-warp .card .card-word span {
    margin: 6px 202px 0 1px;
    padding: 4px 16px 3px;
    border-radius: 20px;
    background-color: #000;
    display: inline-block;
    color: #fff;
    font-size: 10px;
}
/* //cardType02 */

/* cardType03 */
.cardType03 {
    font-family: 'S-CoreDream';
    padding: 150px 0;
}
.cardType03 h2 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 16px;
}
.cardType03 p {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.cardType03 .card-wrap {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    gap: 20px;
}
.cardType03 .card-wrap .card {
    
}

.cardType03 .card-wrap .card {
    width: 285px;
    height: 356px;
    margin: 40px 20px 0 0 ;
    padding: 15px 15px 16px 14px;
    border-radius: 5px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
}
.cardType03 .card-wrap .card-title {
    font-size: 24px;
    font-weight: 500;
    display: block;
}
.cardType03 .card-wrap .card-desc {
    font-size: 14px;
    font-weight: 300;
    display: block;
}
.cardType03 .card-wrap .card-word {}
.cardType03 .card-wrap .card-word span {
    margin: 7px 8px 0 1px;
    padding: 2px 14px 1px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    display: inline-block;
}
