* {
    margin: 0; padding: 0;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}

#wrap {
    font-family: 'Nanum Gothic';
}
.container {
    width: 1200px;
    margin: 0 auto;
}
#header {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    font-weight: 800;
}
#header h1 {
    float: left;
    margin-top: 20px;
} 
#header img {
    width: 200px;
}
#header .nav {
    float: right;
} 
#header .nav ul {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
} 
#header .nav ul li {} 
#header .nav ul li::after {
    content: '|';
    padding: 0 20px ;

} 
#header .nav ul li:last-child::after {
    content: none;
}
#header .nav ul li a {}

.contents {}
.banner {}
.banner img {
    width: 100%;
}
.banner h2 {}
.banner p {}