@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic';
}

a {
    color: #333;
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

#wrap {
    margin: 0 auto;
}

.container {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}

header {
    height: 100px;
}

.logo {
    margin-top: 35px;
    float: left;
}

.logo img {
    width: 150px;

}

nav {
    float: right;
    height: 30px;
    margin-top: 35px;
    text-align: center;
    position: relative;
    z-index: 10000;
}

nav .mainmenu {
    width: 600px;
    line-height: 30px;
}

nav .mainmenu>li {
    width: 25%;
    height: 100%;
    float: left;
    color: #000;
    transition: all 0.4s;

}

nav .mainmenu>li>a {}

nav .mainmenu>li:hover {
    background-color: rgb(154, 107, 107);
    color: #000;
}

nav .submenu {
    display: none;
}

nav .submenu li {
    background-color: #ddd;
    transition: all 0.4s;
}

nav .submenu li:hover {
    background-color: rgb(213, 211, 110);
    color: #000;
}

#slider {}
#slider img {
    width: 100%;
}
.slider-inner::before {
    position: absolute;
    left: 5px; top: 5px;
    background: rgba(0,0,0,.4);
    color: #fff;
    padding: 5px 10px 3px;
    font-family: "NEXONLv1Gothic";
}
.slider-inner::before {content: attr(data-name);}
.slider-inner:nth-child(1) {z-index: 3;}
.slider-inner:nth-child(2) {z-index: 2;}
.slider-inner:nth-child(3) {z-index: 1;}


#content1 {
    width: 100%;
    height: 300px;
    background: #f3f7f8;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

#content1 .plus {
    width: 2%;
    margin-left: 1450px;
    margin-top: -50px;
}

#content1 .container {
    display: inline-flex;
    position: relative;
    left: 50%;
    top: 50px;
    transform: translatex(-50%);
}

#content1 h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
}

#content1 .box {
    display: inline-flex;
    background: #fff;
    width: 300px;
    height: 170px;
    margin-left: 10px;
    border: 1px solid #eee;
    padding: 20px;
}

#content1 .box span.sub1 {
    white-space: nowrap;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 2px solid #8EA3BE;
    border-radius: 5px;
    color: #8EA3BE;
    font-weight: bold;
    font-size: 12px;
}

#content1 .box p {
    text-align-last: left;
    font-size: 15px;
    margin-top: 40px;
    margin-left: -92px;
}

#content1 .box div.t1 {
    white-space: nowrap;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    background: #6693D2;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
    margin-top: 100px;
    margin-left: -200px;
}

#content1 .box div.t2 {
    white-space: nowrap;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    background: #6693D2;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
    margin-top: 140px;
    margin-left: -60px;
}

#content1 .box div.t1 p {
    color: rgb(179, 179, 179);
    font-size: 12px;
    margin-top: -25px;
    margin-left: 70px;
}

#content1 .box div.t2 p {
    color: rgb(179, 179, 179);
    font-size: 12px;
    margin-top: -25px;
    margin-left: 70px;
}

#content2 {
    width: 100%;
    height: 420px;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

#content2 .box1 {
    height: 210px;
    display: inline-flex;
}

#content2 .box1 .sub1 {
    width: 360px;
    height: 197px;
    border: 1px solid #eee;
}

#content2 .box1 .sub2 {
    width: 678px;
    height: 156px;
    border: 1px solid #eee;
    margin-left: 15px;
    padding: 20px;
}

#content2 .box1 .sub2 h5 {
    font-size: 18px;
}

#content2 .box1 .sub2 .m {
    margin-top: 15px;
}

#content2 .box1 .sub2 .m span.s {
    padding: 4px 20px;
    background: #3073CC;
    color: #fff;
    font-size: 12px;
}

#content2 .box1 .sub2 .m p {
    font-size: 15px;
    margin-top: -25px;
    margin-left: 130px;
}

#content2 .box1 .sub2 .m p span {
    font-size: 15px;
    color: rgb(170, 170, 170);
    margin-left: 200px;
    font-weight: 300;
}

#content2 .box1 .sub2 .plus {
    position: absolute;
    width: 2%;
    margin-left: 640px;
    margin-top: -30px;
}

#content2 .box2 {
    height: 210px;
    display: inline-flex;
    margin-top: 8px;
}

#content2 .box2 .sub1 {
    width: 360px;
    height: 197px;
}

#content2 .box2 .sub1 img {
    width: 100%;
}

#content2 .box2 .sub2 {
    width: 680px;
    height: 155px;
    border: 1px solid #eee;
    margin-left: 15px;
    padding: 20px;
}

#content2 .box2 .sub2 h5 {
    font-size: 18px;
    margin-bottom: 30px;
}

#content2 .box2 .sub2 .plus {
    position: absolute;
    width: 2%;
    margin-left: 640px;
    margin-top: -30px;
}

#content2 .box2 .sub2 .b {
    float: left;
    margin-right: 55px;
}

#content2 .box2 .sub2 .b.b2 {
    margin-left: -10px;
}

#content2 .box2 .sub2 .b.b1 {
    height: 88px;
    border-left: 2px solid #eee;
}

#content2 .box2 .sub2 .b p {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 13px;
}

#content2 .box2 .sub2 .b p span {
    font-size: 12px;
    color: rgb(170, 170, 170);
    font-weight: 300;
    line-height: 2;
}

/* 탭메뉴 */
#tbaMenu {
    padding: 20px;
}

.tabMenuWrap {}

.tabMenuWrap .tab-btn {
    margin-left: -150px;
}

.tabMenuWrap .tab-btn ul {
    display: flex;
    justify-content: center;
    position: relative;
}

.tabMenuWrap .tab-btn ul li a {
    font-size: 18px;
    padding: 10px 20px;
    color: rgb(190, 188, 188);
    font-weight: 600;
}

.tabMenuWrap .tab-btn ul li.active a {
    color: #000;
}

.tabMenuWrap .tab-btn ul li .click {
    position: relative;
}

.tabMenuWrap .tab-btn ul li .click::after {
    content: '';
    position: absolute;
    right: 0;
    width: 3px;
    height: 20px;
    background: #000;
}

.tabMenuWrap .plus {
    position: absolute;
    width: 2%;
    margin-left: 280px;
    margin-top: -30px;
}

.tab-cont {
    display: flex;
    justify-content: space-between;
}

.tab-cont .box {}

.tab-cont .box p {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 700;
    color: #373737;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tab-cont .box p span {
    color: rgb(177, 176, 176);
    font-size: 12px;
}

.tab-cont {
    margin-left: -2px;
    margin-top: 20px;
}

.tab-cont .box a img {
    width: 80%;
}

.tab2 {
    display: none;
}

footer {
    height: 230px;
    background: #27405F;
}

footer .container {}

footer .container .footer {}

footer .footer .box1 {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #3F5675;
}

footer .footer .box1 .container span {
    color: #97A9BF;
    display: inline-block;
    margin-top: 30px;
}

footer .footer .box1 .container .sub span {
    color: #97A9BF;
    margin-top: 10px;
    margin-left: 15px;
}

footer .footer .box2 {
    margin-top: 10px;
}

footer .footer .box2 .container img.f_logo {
    width: 20%;
}

footer .footer .box2 .container p {
    color: #97a9bf;
    font-size: 14px;
    margin-top: -70px;
    margin-left: 250px;
    line-height: 2;
}

footer .footer .box2 .container img.sns {
    width: 15%;
    margin-left: 600px;
    margin-top: -300px;
}

.line {
    height: 50px;
    border-left: 2px solid #3F5675;
    margin-left: 900px;
    margin-top: -80px;
}

.familysite {
    float: right;
    height: 50px;
    width: 200px;
}

.familysite select {
    float: right;
    width: 120px;
    height: 35px;
    margin-top: -25px;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #3F5675;
    color: #fff;
    padding-left: 10px;
    background: url('../img/kita/arrow.jpg') no-repeat 95% 45%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}