@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'NEXON Lv1 Gothic OTF';
    line-height: 1.6;
    word-break: break-all;
}
body {
    padding: 2%;
    line-height: 1.6;
}
h1 {
    padding-bottom: 50px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 a {
    font-family: 'TmonMonsori';
}
hr {
    margin: 5% 0;
    border-style: dashed;
    border-color: #e6e6e6;
    border-width: 0px;
    border-bottom-width: 1px;
}
img {
    vertical-align: top;
    border-radius: 5px;
    margin: 0;
}
ul {
    list-style: none;
}
ol{
    padding-left: 26px;
}
a {
    text-decoration: none;
    color: #333;
}
.sample {
    border-radius: 5px;
    margin-bottom: 10px;
}
.sample h2 {
    position: relative;
    font-size: 16px;
    background-color: #f2f2f2;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 5px 5px 0 0;
}
.sample h2 .dot {
    width: 10px;
    height: 10px;
    background: #989898;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 20px;
}
.sample h2 .dot::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #989898;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 0;
}
.sample h2 .dot::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #989898;
    position: absolute;
    border-radius: 50%;
    right: -15px;
    top: 0;
}

.sample .ex {
    padding: 20px;
}
.sample .ex .text {
    margin: 10px 0;
}
.sample .re {
    padding: 20px;
    border-top: 1px solid #e6e6e6;
}
.sample .re a {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 5px;
    display: inline-block;
}
.sample .re a:hover {
    background-color: #000;
    color: #fff;
}
.sample .problem {
    padding: 25px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 1.6;
}
.sample pre {
    margin: 0 !important;
    border-radius: 0;
}
.sample .desc {
    padding: 25px;
    border-bottom: 1px solid #e6e6e6;
}
.sample .desc dt {
    padding: 3px 0;
    margin-bottom: 6px;
}
.sample .desc dd {
    padding: 3px 0 16px 0;
    line-height: 1.6;
}
.sample .sam {
    padding: 25px;
    border-bottom: 1px solid #e6e6e6;
}
.sample .sam dt {
    padding: 3px 0;
    margin-bottom: 6px;
}
.sample .sam dd {
    padding: 3px 0 16px 0;
}
.mt20 {
    margin-top: 20px;
}
.sam{
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 0 20px;
}
.view{
    padding: 20px;
    border: 1px solid #e6e6e6;
}
.view table{
    width: 100%;
    /* border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6; */
    border: 1px solid #e6e6e6; /*속기형 작성법*/
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}
.view table th{
    padding: 13px 5px 11px 5px;
}
.view table td{
    border: 1px solid #e6e6e6;
    padding: 13px 5px 11px 5px;
}
.view table td.result{
    color: #fff;
    transition: all 0.3s;
    cursor: zoom-in;
}
.view table td.result:hover{
    color: #000;
    background-color: #f5f5f5;
}
.view {
    padding: 20px;
    border: 1px solid #f2f2f2;
}
.view ul {
    display: flex;
    flex-wrap: wrap;
}
.view li {
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin: 10px;
    color: #222;
    border-radius: 5px;
    white-space: nowrap;
}
.view .red {
    border: 1px dashed #a51a3d;
    background-color: #f9f2f4;
    color: #a51a3d;
}
.view .blue {
    border: 1px dashed #3d90b7;
    background-color: #eef7ff;
    color: #3d90b7;
}
.btn {
    padding: 20px;
    border: 1px solid #f2f2f2;
    border-top: 0;
}
.btn a {
    border: 1px solid #e6e6e6;
    padding: 7px 25px;
    display: inline-block;
    border-radius: 40px;
    margin: 4px 0;
    color: #222;
    transition: all 0.2s;
}
.btn a:hover {
    background: #000;
    color: #fff;
}
.page {
    position: absolute;
    right: 20px;
    top: 15px;
}
.page li {
    display: inline;
    list-style: none;
}
.page li a {
    text-decoration: none;
    color: #222;
}
.page li a:hover {
    color: #3c66da;
}
.menu li {
    display: inline;
}
.menu li a {
    font-family: 'NEXON Lv1 Gothic OTF';
    color: #000;
    border: 1px dashed #000;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    margin: 4px 1px;
    transition: all 0.4s;
}
.menu li a:hover {
    box-shadow: inset 0 -100px 0 #000;
    color: #fff;
    border-style: solid;
}
.menu li.active a {
    background: #000;
    color: #fff;
}
/* 쌤이랑 같이 */
.result h3 a {
    font-size: 16px;
    font-weight: normal;
    /* padding: 10px 15px; */
    background-color: #f1f1f1;
    display: inline-block;
    border-radius: 4px;
    color: #000;
    margin-top: 5px;
}
.result div {
    background: #272822;
    color: #fff;
    padding: 15px 20px;
    border-radius: 0 4px 4px 4px;
    display: none;
}
.result.show div {
    display: block;
}
.result div span {
    display: block;
}

/* 내가 작성 */
.sample .result {
    margin-top: 10px;
}
.sample .result h3 {
    background-color: #f2f2f2;
    padding: 10px;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
}
.sample .result h3:hover {
    cursor: pointer;
}
.sample .result .key {
    display: none;
    border-radius: 0 5px 5px 5px;
    color: #fff;
    background-color: #272822;
    font-size: 14px;
    padding: 16px;
    line-height: 1.8;
}
.sample .result .key.open {
    display: block;
}
@media (max-width: 800px){
    body{
        padding: 5%;
        font-size: 13px;
    }
    h1{
        text-align: center;
        margin-top: 30px;
    }
    .sample h2{
        font-size: 14px;
        font-weight: normal;
        padding: 7px 5px 5px;
    }
    .sample h2 .dot{
        display: none;
    }
    .view{
        padding: 5px;
        max-width: 800px;
        overflow: auto;
    }
    .view th,
    .view table td{
        white-space: nowrap;
        font-weight: normal;
    }
    .view table td.result {
        color: #000;
    }
    .menu li a {
        font-size: 12px;
        padding: 5px 20px;
    }
    .list li {
        line-height: 1.2;
    } 
    .list a {
        font-size: 12px;
    }
    .sample h2 {
        padding: 12px 10px 10px;
        font-size: 14px;
    }
    .sample h2 .dot {
        display: none;
    }
    .sample pre {
        font-size: 14px;
    }
    .btn a{
        width: 80%;
        font-size: 13px;
    }
    .sample .result h3 {
        font-size: 13px;
    }
}