@charset "UTF-8";
/*webfont*/
@font-face {
  font-family: "NEXONLv1Gothic";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv1Gothic";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv1Gothic";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv2Gothic";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv2Gothic";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv2Gothic";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}
/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

.bg {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.bg1 {
  background-image: url(../img/bg1@2x.jpg);
}

.bg2 {
  background-image: url(../img/bg2@2x.jpg);
}

.bg3 {
  background-image: url(../img/bg3@2x.jpg);
}

.bg4 {
  background-image: url(../img/bg4@2x.jpg);
}

.bg5 {
  background-image: url(../img/bg5@2x.jpg);
}

.bg6 {
  background-image: url(../img/bg6@2x.jpg);
}

.bg7 {
  background-image: url(../img/bg7@2x.jpg);
}

.bg8 {
  background-image: url(../img/bg8@2x.jpg);
}

.bg9 {
  background-image: url(../img/bg9@2x.jpg);
}

.bg10 {
  background-image: url(../img/bg10@2x.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}
#main.game {
  background: linear-gradient(to bottom, #e0c3fc 0%, #8ec5fc 100%);
}
#main.menu {
  background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
}
#main.mouse {
  background: linear-gradient(to bottom, #9890e3 0%, #b1f4cf 100%);
}
#main.parallax {
  background: linear-gradient(to bottom, #20E2D7 0%, #F9FEA5 100%);
}
#main.slider {
  background: linear-gradient(to bottom, #df89b5 0%, #bfd9fe 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  white-space: nowrap;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #8200c9, #240038);
}

#nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 10px;
  top: auto;
}
#nav li {
  list-style: none;
  display: inline;
}
#nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXONLv1Gothic";
  box-shadow: inset 0 0 0 #fff;
  transition: all 0.4s;
}
#nav li a:hover {
  box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

.info {
  color: #fff;
  font-family: "NEXONLv1Gothic";
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.info.right {
  left: auto;
  right: 0px;
}
.info.bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
.info h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  border-bottom: 2px double #48bb78;
  display: inline-block;
  margin-bottom: 10px;
}
.info p {
  font-weight: 300;
  font-size: 16px;
}
.info li {
  list-style: none;
  display: inline;
}
.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}
.info li.active a {
  background: #fff;
  color: #000;
}
.info button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 0 #fff inset;
  transition: all 0.4s;
  cursor: pointer;
}
.info button:hover {
  box-shadow: 0 -50px #fff inset;
  color: #000;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transform: scale(0);
}
#modal .modal-bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal .modal-bg .modal-cont h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}
#modal .modal-bg .modal-cont p {
  font-weight: 300;
  line-height: 1.6;
}
#modal .modal-bg .modal-cont button {
  float: right;
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "NEXONLv2Gothic";
  margin-top: 20px;
}

#modal.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    transform: scaley(0.005) scalex(0);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(1) scalex(1);
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaley(0.005) scalex(0);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(1) scalex(1);
  }
}
#modal.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

@-webkit-keyframes unfoldOut {
  0% {
    transform: scaley(1) scalex(1);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaley(1) scalex(1);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(0.005) scalex(0);
  }
}
#modal.show .modal-bg .modal-cont {
  transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
  transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.code-view {
  background: #fff;
  width: 60vw;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}
.code-view .view-header {
  border-bottom: 1px solid #f2f2f2;
}
.code-view .view-header .dot {
  padding: 13px 10px 10px 15px;
}
.code-view .view-header .dot span {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 2px;
}
.code-view .view-header .dot span:nth-child(1) {
  background-color: #f56565;
}
.code-view .view-header .dot span:nth-child(2) {
  background-color: #f6e05e;
}
.code-view .view-header .dot span:nth-child(3) {
  background-color: #48bb78;
}
.code-view .view-title {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 11px;
  font-family: "NEXONLv2Gothic";
}
.code-view .view-title li {
  display: inline;
  list-style: none;
}
.code-view .view-title li a {
  text-decoration: none;
  color: #ccc;
  padding: 10px 10px 12px;
  margin: 0 5px;
  display: inline-block;
}
.code-view .view-title li.active a {
  border-top: 2px solid #667EEA;
  color: #4a5568;
}
.code-view .view-cont {
  height: 70vh;
  overflow-y: scroll;
  background: #F8F8F9;
}
.code-view .view-cont > div {
  display: none;
}
.code-view .view-cont > div:nth-child(1) {
  display: block;
}

@media (max-width: 800px) {
  #main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  #contents h1 {
    font-size: 18vw;
  }

  #nav {
    bottom: 50px;
  }

  #nav ul {
    display: flex;
    justify-content: center;
  }

  #nav ul li a {
    font-size: 12px;
    width: 65px;
    height: 30px;
    line-height: 2.5;
  }

  .bg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  #modal {
    position: absolute;
    left: 0;
    top: 0;
  }

  #modal .modal-cont {
    padding: 20px;
  }

  #modal .modal-cont h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  #modal .modal-cont p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .info h1 {
    font-size: 15px;
  }

  .info p {
    font-size: 12px;
  }

  .info li a {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
  }

  .info.bottom {
    bottom: 90px;
  }

  .code-view .view-header .dot {
    padding: 10px 8px 8px 13px;
  }

  .code-view .view-header .dot span {
    width: 9px;
    height: 9px;
  }

  .code-view .view-title {
    padding: 0 9px;
    font-size: 10px;
  }

  .code-view .view-title li a {
    padding: 8px 8px 10px;
    margin: 0 5px;
  }

  .code-view .view-cont {
    height: 300px;
    font-size: 10px;
  }

  #tab-menu {
    width: 80vw;
  }

  .tab-btn {
    white-space: nowrap;
  }

  .tab-btn ul {
    font-size: 13px;
    padding: 0.5vh;
  }

  .tab-btn li a {
    padding: 13px 10px 10px 10px;
  }

  .tab-cont {
    padding: 20px;
  }

  .tab-cont > div h2 {
    font-size: 18px;
  }

  .tab-cont > div p {
    font-size: 14px;
  }
}